$font-size-sm: .813rem;
$font-size-normal: 1rem;
$font-size-md: 1.25rem;
$neutral: rgb(168, 168, 168);

/******************
HUMAN
*******************/

$sky: rgb(119, 212, 184);
$marine: #54d5ff;;
$forest: #088078;
$light: rgba(241, 241, 241, 0.842);

/******************
ZOMBIE
*******************/

$navyBlue:#161221;
$skyDark: rgb(27, 52, 68);
$rustyRed: #954C43;
$sun: #E8C96F;
$dirty: rgb(211, 204, 186);

$old: rgb(117, 89, 89);
$blood: rgba(114, 32, 32, 1);
$ash: rgba(131, 122, 117, 1);
$green: rgba(172, 193, 138, 1);
$lightgreen: rgba(238, 255, 221, 1);

/********
FORM
*********/

$bgcolor    : #cddc39 ;
$btncolor   : #03a9f4 ;
$formcolor  : #fbfbfb ;